<h2>My Accounts</h2>
{{updateAccountStatus}}
<ul>
    <li ng-repeat="account in accounts">
        <img ng-src="img/Skins/thumb/{{account.skinid}}.png"
             style="margin: -12px 10px 0 0"/>
        <h3>{{account.username}} - {{account.server}}</h3>
        <div class="removeAccount" ng-click="removeAccount(account)">x</div>
        <span class="switchAccount" ng-click="switchAccount(account)" ng-show="(account.sqlid != selectedAccount.sqlid) || (account.server != selectedAccount.server)">Switch</span>
        <span class="switchAccount" ng-click="switchAccount(account)" ng-show="(account.sqlid == selectedAccount.sqlid) && (account.server == selectedAccount.server)">Selected</span>
    </li>
</ul>