<div align="center">
    <h2>This notification has expired. Please try again!</h2>
    <h2>You will now be redirected to the homepage.</h2>
    <img src="img/loading-icon.gif" height="3%" width="3%"/>
</div>