<div ng-controller="headerController">
    {{updateAccountStatus}}
    <div id="menu-bar">
        <div id="menuLeft">
            <button class="menuButton" id="menu-button-menu"><i class="material-icons md-24">menu</i></button>
        </div>

        <div id="menuRight">
            <button class="menuButton" id="menu-button-chat"><i class="material-icons md-24">chat</i></button>
            <button class="menuButton" id="menu-button-notifications"><i class="material-icons md-24">notifications</i>
            </button>
        </div>

        <div id="menuCenter">
            <h1>{{getName()}}</h1>
        </div>
    </div>

    <div id="menu-bar-{{getStatus()}}" ng-show="getStatus()!='error'">
        <div id="menuLeftStatusBar">
            <button class="emptyMenuButton" id="menu-button-menu-status-bar"></button>
        </div>
        <div id="menuRightStatusBar">
            <button class="emptyMenuButton" id="menu-button-chat-status-bar"></button>
            <button class="emptyMenuButton" id="menu-button-notifications-status-bar"></button>
        </div>
        <div id="menuCenterStatusBar">
            {{getStatus()}}
        </div>
    </div>
    <!-- The menu -->
    <nav id="general-menu">
        <ul>
            <li><a href="#/login"><b>Login</b></a></li>
            <li><a href="#/account/accounts">Accounts</a></li>
            <li ng-show="getName()"><a href="#/account/general">{{getName()}}</a></li>
        </ul>
    </nav>
    <nav id="notification-menu">
        <ul>
            <li ng-if="getAuthNotification().server && getAuthNotification().isConfirmed === 0"><a href="#/auth"><span style="font-weight: bold; color: #ffffff">{{determinePastTime(getAuthNotification().time)}} &nbsp; {{getNotificationText(75)}}</span></a></li>
            <li ng-repeat="n in getLocalNotifications()"><a href="#" ng-if="n.isread == 0">
                <span style="font-weight: bold; color: #ffffff" ng-click="markNotificationAsRead(n.id)">{{determinePastTime(n.time)}} &nbsp; {{getNotificationText(n.type)}}</span></a>
                <a href="#" ng-if="n.isread == 1">{{determinePastTime(n.time)}} &nbsp; {{getNotificationText(n.type)}}</a></li>
        </ul>
    </nav>
</div>