body {
    background: url('../img/bg.jpg') repeat;
    color: #bcbcbc;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-style: normal;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

#menu-bar {
    background: #333333;
    color: #fff;
    padding: 5px;
    border: 1px solid #1f2021;
    min-height: 54px;
}

#menu-bar h1 {
    font-size: 24px;
    font-weight: normal;
    display: inline-block;
}

#menu-bar a {
    color: #fff;
}

#menuLeft {
    float: left;
}

#menuRight {
    float: right;
}

#menuCenter {
    text-align: center;
    margin: 0 88px 0 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 0 0;
}

#menuLeftStatusBar {
    font-size: 24px;
    float: left;
}

#menuRightStatusBar {
    font-size: 24px;
    float: right;
}

#menuCenterStatusBar {
    text-align: center;
    margin: 0 88px 0 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#menu-bar-Offline {
    text-align: center;
    background: #be0000;
    color: #fff;
    padding: 1px 5px 0 5px;
    margin: 0;
    min-height: 13px;
    top: 0;
    font-size: 13px;
    line-height: 13px;
}

#menu-bar-Offline h1 {
    font-weight: normal;
    display: inline-block;
    position: absolute;
}

#menu-bar-Online {
    text-align: center;
    background: #00be00;
    color: #fff;
    padding: 1px 5px 0 5px;
    margin: 0;
    min-height: 13px;
    top: 0;
    font-size: 13px;
    line-height: 13px;
}

#menu-bar-Online h1 {
    font-weight: normal;
    display: inline-block;
    position: absolute;
}

#menu-bar-AFK {
    text-align: center;
    background: #da7100;
    color: #fff;
    padding: 1px 5px 0 5px;
    margin: 0;
    min-height: 13px;
    top: 0;
    font-size: 13px;
    line-height: 13px;
}

#menu-bar-AFK h1 {
    font-weight: normal;
    display: inline-block;
    position: absolute;
}

h1, h2, h3 {
    margin: 0;
}

.roundLabel {
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 5px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}

main {
    background: #eee;
    width: 80%;
    margin: 30px auto;
    border-radius: 10px;
}

.content {
    padding: 20px;
}


.content button:nth-child(2){
    float: right;
}

.content ul {
    padding: 0;
    list-style-type: none;
    margin: 30px 0;
}

.content li {
    padding: 15px 0;
    border-top: 1px solid #e2e2e2;
    color: #ffffff;
}

.content li span {
    float: right;
}

.content li h3 {
    display: inline-block;
    font-weight: normal;
    font-size: 22px;
}

.content li h4 {
    display: inline-block;
    font-weight: normal;
    font-size: 22px;
    position: relative;
}

.removeAccount {
    float: right;
    padding: 0;
    background: #fff;
    width: 18px;
    text-align: center;
    border-radius: 20px;
    color: crimson;
    cursor: pointer;
    margin-left: 10px;
}

.removeAccount:active {
    position: relative;
    top: 1px;
}

.removeAccount:focus {
    outline: 0;
}

.switchAccount {
    padding: 0 10px 0 10px;
    background: #333333;
    border-radius: 10px;
    margin-left: 5px;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
}

.switchAccount:active {
    position: relative;
    top: 1px;
}

.switchAccount:focus {
    outline: 0;
}

.testRight {
    float: right;
    display: inline-block;
    padding: 0;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

.menuButton {
    background-color: transparent;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 9px;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 0;
    font-weight: bold;
    padding: 10px 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
}

.menuButton:hover {
    background-color: transparent;
}

.menuButton:active {
    position: relative;
    top: 1px;
}

.menuButton:focus {
    outline: 0;
}

.emptyMenuButton {
    background-color: transparent;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 9px;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 0;
    font-weight: bold;
    padding: 0 22px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
}

.emptyMenuButton:hover {
    background-color: transparent;
}

.emptyMenuButton:active {
    position: relative;
    top: 1px;
}

.emptyMenuButton:focus {
    outline: 0;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}