<style>
    .tabel1 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }

    .tabel1 td {
        padding: 0;
        margin: 0;
    }

    .tabel2 {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

    .tabel2 td {
        padding: 0;
        margin: 0;
    }

    .acceptAuth {
        padding: 5px 25px 5px 25px;
        background: #00fb00;
        border-radius: 10px;
        margin: 5px;
        color: #ffffff;
        font-size: 25px;
        text-transform: uppercase;
    }

    .acceptAuth:active {
        position: relative;
        top: 1px;
    }

    .acceptAuth:focus {
        outline: 0;
    }

    .denyAuth {
        padding: 5px 25px 5px 25px;
        background: #fb0000;
        border-radius: 10px;
        margin-left: 5px;
        color: #ffffff;
        font-size: 25px;
        text-transform: uppercase;
    }

    .denyAuth:active {
        position: relative;
        top: 1px;
    }

    .denyAuth:focus {
        outline: 0;
    }

</style>
<div ng-controller="authController">
    <table class="tabel1">
        <tr>
            <td><img ng-src="img/Skins/{{selectedAccount.skinid}}.png" width="90px;"/></td>
            <td>
                <h2>Hi <b>{{getName()}}</b>!</h2>
                <h3>Do you authorize this Login?</h3>
                <h4>Date: {{getDate()}} ago</h4>
                <h4>IP: {{getIp()}}</h4>
                <h4>Aprox. Location: {{getLocation()}}</h4>
            </td>
        </tr>
    </table>

    <table class="tabel2">
        <tr>
            <td><span class="acceptAuth" ng-click="acceptAuth()">ACCEPT</span></td>
            <td><span class="denyAuth" ng-click="denyAuth()">DENY</span></td>
        </tr>
    </table>
</div>