<style>
    .infoTable {
        background: #1b1b1b;
        padding: 12px;
        border-radius: 15px;
        z-index: 1;
        position: relative;
        color: #efefef;
        font-family: sans-serif, Arial;
        min-width: 315px;
        margin: 0 8px 25px 8px;
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        font-size: 12px;
        box-shadow: 0 0 1px 0 rgb(123, 123, 123);
    }

    .infoTable td:first-child {
        font-weight: bold;
        background-color: #151515;
        border-right: 1px solid rgb(39, 39, 39);

    }

    .infoTable tr:hover > td {
        background: rgba(43, 43, 43, 0.81);

    }

    .infoTable tr:hover:first-child > td:last-child {
        border-radius: 0 15px 0 0;
    }

    .infoTable tr:hover:last-child > td:last-child {
        border-radius: 0 0 15px 0;
    }

    .infoTable td:last-child {
        text-align: center;
    }

    .infoTable td {
        padding: 8px 15px 8px 15px;
        transition: 0.1s;
    }

    .infoTable tr:first-child td:first-child {
        border-radius: 15px 0 0 0;
    }

    .infoTable tr:last-child td:first-child {
        border-radius: 0 0 0 15px;
    }

    .skinTable {
        width: 250px;
        z-index: 0;
        height: 135px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

</style>


<div class="skinTable" style="background: url(img/Skins/{{account.skinid}}.png) top center;"></div>
<table class="infoTable">
    <tr>
        <td>Name:</td>
        <td>{{account.username}}</td>
    </tr>
    <tr>
        <td>Name:</td>
        <td>{{account.server}}</td>
    </tr>
    <tr>
        <td>E-mail:</td>
        <td>{{account.email}}</td>
    </tr>
    <tr>
        <td>Join date:</td>
        <td>{{account.formatedjoindate}}</td>
    </tr>
    <tr>
        <td>Last login:</td>
        <td>{{account.formatedlastlogin}}</td>
    </tr>
    <tr>
        <td>Warnings:</td>
        <td>{{account.warnings}}</td>
    </tr>
    <tr>
        <td>Gold:</td>
        <td>{{account.gold}}</td>
    </tr>
    <tr>
        <td>Ranking:</td>
        <td>{{account.ranking}}</td>
    </tr>
    <tr>
        <td>Monthly Ranking:</td>
        <td>{{account.monthlyranking}}</td>
    </tr>
    <tr>
        <td>Level:</td>
        <td>{{account.level}}</td>
    </tr>
    <tr>
        <td>Respect:</td>
        <td>{{account.respect}}</td>
    </tr>
</table>

<table class="infoTable">
    <tr>
        <td>Hours Played:</td>
        <td>{{account.hoursplayed}}</td>
    </tr>
    <tr>
        <td>Hours Played this month:</td>
        <td>{{account.monthlyplayed}}</td>
    </tr>
    <tr>
        <td>Cash:</td>
        <td>{{account.cash}}</td>
    </tr>
    <tr>
        <td>Bank Account:</td>
        <td>{{account.bank}}</td>
    </tr>
    <tr>
        <td>Phone Number:</td>
        <td>{{account.number}}</td>
    </tr>
    <tr>
        <td>Lotto Number:</td>
        <td>{{account.lotto}}</td>
    </tr>
    <tr>
        <td>Crimes commited:</td>
        <td>{{account.crimes}}</td>
    </tr>
    <tr>
        <td>Arrested times:</td>
        <td>{{account.arrested}}</td>
    </tr>
    <tr>
        <td>Wanted deaths:</td>
        <td>{{account.wanted}}</td>
    </tr>
    <tr>
        <td>Materials:</td>
        <td>{{account.materials}}</td>
    </tr>
    <tr>
        <td>Drugs:</td>
        <td>{{account.drugs}}</td>
    </tr>
</table>