<style>
    .loginDropdown{
        width: 200px;
        border-radius: 15px;
        margin: 3px;
        height: 35px;
        padding-left: 8px;
        padding-right: 8px;
        outline: none;
        border: 1px solid #636363;
        color: #000000;
    }

    .loginDropdown:focus{
        border-radius:15px 15px 0 0;
    }

    .loginInput{
        width: 200px;
        height: 35px;
        border-radius: 20px;
        padding: 6px 8px 6px 8px;
        border: 1px solid #6d6d6d;
        margin: 3px;
        outline: none;
        color: #000000;
    }

    .loginSubmit{
        min-width: 120px;
        padding: 10px 5px 10px 5px;
        margin: 3px;
        background: #76c458;
        border: 1px solid #008e3e;
        border-radius: 15px;
        color: white;
        font-weight: bold;
        text-shadow: 0 0 1px #8c8c8c;
        font-size: 15px;
        transition:0.3s;
        outline:none;
    }

    .loginSubmit:hover{
        background: #acffac;
        cursor: pointer;
        transition:0.3s;
    }

    .loginSubmit:active{
        background: #68ec68;
    }

    #serverResponse{
        width: 280px;
        height: auto;
        padding: 7px;
        font-size: 15px;
        font-weight: bold;
        color: #ffffff;
        background: #525252;
        text-shadow: 0 0 2px #000000;
        font-family: sans-serif, Arial;
        margin: 15px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        opacity:1;
        transition:0.3s;
    }

</style>

<form style="text-align:center;margin:5px;" ng-submit="submit()">
    <input class="loginInput" type="text" ng-model="username" placeholder="Username"/><br />
    <input class="loginInput" type="password" ng-model="password" placeholder="Password"/><br />
    <select class="loginDropdown" name ="server" ng-model="server">
        <option value="">Select Server</option>
        <option value="RPG1">RPG1</option>
        <option value="RPG2">RPG2</option>
        <option value="RPG3">RPG3</option>
        <option value="RPG4">RPG4</option>
        <option value="TEST">TEST</option>
    </select><br />
    <input class="loginSubmit" type="submit" id="submit" value="Submit" />
    <div id="serverResponse" ng-if="logged !== 'false'">{{logged}}</div>
</form>
